* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8b8b99;
}

p,
h1,
h2,
h3,
span,
button {
  font-size: 25px;
}

.App {
  margin: 50px auto;
  width: 70%;
  text-align: center;
}

button {
  padding: 2px 8px;
  cursor: pointer;
  margin: 0 2px;
}

span {
  font-size: 30px;
  font-weight: bold;
}