@font-face {
  font-family: 'Lato-regular';
  src: local('Lato-regular'), url('./fonts/Lato-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 50px 15px;
  font-family: 'Lato-regular';
  background-color: #8b8b99;
}